# ==========================
# Python
# ==========================
venv/
testenv/
.venv/
__pycache__/
.pytest_cache/
*.py[cod]

# ==========================
# Node.js
# ==========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================
# Variáveis de ambiente
# ==========================
.env
.env.*

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Sistema Operacional
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Build
# ==========================
dist/
build/

# ==========================
# Documentação (temporário)
# ==========================
docs/